/U3dProject/Temp
/U3dProject/UserSettings
/U3dProject/.vsconfig
/U3dProject/Assembly-CSharp.csproj
/U3dProject/Assembly-CSharp-Editor.csproj
/U3dProject/U3dProject.sln
/U3dProject/Library
/U3dProject/Logs
/U3dProject/obj
/U3dProject/.vs
